@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
}

input {
    color-scheme: dark;
}

/*Estilizando o calendário da biblioteca DayPicker*/
:root {
    --primary-color: #BEF264;
    --text-color: #000;
}

.rdp-range_start, .rdp-range_end {
    background: var(--primary-color);
}

.rdp-range_start .rdp-day_button,
.rdp-range_end .rdp-day_button,
.rdp-range_middle .rdp-day_button {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.rdp-range_start {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.rdp-range_end {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.rdp-selected .rdp-day_button {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-color);
}

.rdp-range_middle {
    background-color: var(--primary-color);
}

.rdp-range_middle .rdp-day_button {
    font-weight: bold;
}

.rdp-chevron {
    fill: var(--primary-color);
}

.rdp-today:not(.rdp-outside) {
    color: var(--primary-color);
}
